@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@keyframes icons {
    0% {
        transform: rotate(270deg);
    }
}

* {
    margin: 0%;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body {
    background-color: #181717;
}

p {
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #4CB61A;
    font-family: 'Anton', sans-serif;
    font-weight: 1;
}

/* navigational bar */
#nav ul a {
    text-decoration: none;
}

#nav li {
    display: inline;
    padding-inline: 14px;
}

#nav li:hover {
    background-color: #4CB61A;
}

#nav a:visited {
    color: #fafafa;
}

#nav {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(0, 0, 0, .8);
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}

#img {
    border-radius: 100%;
    border: 5px solid black;
    width: 15vw;
    height: 15vw;
}

/* when the screen gets lower than 767px */
@media only screen and (max-width: 767px) {
    #profile {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-bottom: 1px solid black;
        padding: 30px 0px 100px 0px;
        background: #181717 url(https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_960_720.jpg);
        background-position: center;
        background-size: cover;
    }
}

@media only screen and (max-width: 767px) {
    #profile h1 {
        position: relative;
        padding-top: 85px;
        padding-left: 30px;
    }

    #profile h2 {
        position: relative;
        padding-top: 70px;
    }
}

/* if screen is bigger than 767px */
@media only screen and (min-width: 767px) {
    #hero {
        display: flex;
        position: relative;
        border-bottom: 3px solid #4CB61A;
        padding: 30px 0px 30px 100px;
        background: #181717 url(https://cdn.pixabay.com/photo/2015/07/05/10/18/tree-832079_960_720.jpg);
        background-position: center;
        background-size: cover;
    }
}

#hero h1 {
    position: absolute;
    left: 30%;
    top: 35%;
}

#hero h2 {
    position: absolute;
    left: 30%;
    top: 56%;
}

/* container under hero: layout changes if screen is bigger than 767px */
@media only screen and (min-width: 767px) {
    #profile-info {
        display: flex;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #181717;
        border-bottom: 1px solid #4CB61A;
    }
}

/* profile-info container about me */
.info-1 {
    padding-left: 30px;
    padding-top: 30px;
    color: #FFFFFF;
    flex: 0.5;
    margin-right: 10%;
}

.info-1 p {
    line-height: 1.7rem;
    font-size: 1.5rem;
}

/* contact me container */
.info-2 {
    padding-left: 30px;
    padding-top: 30px;
    flex: 1;

}

.info-2 ul {
    list-style: none;
    line-height: 3rem;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.info-2 i {
    color: #4CB61A;
    padding-right: 50px;
}

/* section layout changes if the screen is bigger than 767px */
@media only screen and (min-width: 767px) {
    section {
        padding-bottom: 40px;
        padding-top: 30px;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 70% 30%;
        border-bottom: 1px solid #4CB61A;
    }
}

/* experience and education container */
.content-1 {
    box-shadow: inset -2px 2px 2px 2px #4CB61A;
    border-radius: 0px 20px 20px 0px;
    padding-top: 30px;
    line-height: 1.7rem;
    font-size: 1.5rem;
    padding-bottom: 30px;
    padding-left: 30px;
    background-color: #D9D9D9;

}

/* skills container */
.content-2 {
    color: #fafafa;
    padding-top: 30px;
    padding-left: 30px;
    line-height: 1.7rem;
    font-size: 1.5rem;

}

.content-2 i {
    color: #4CB61A;
}

.content-2 b {
    color: #fafafa;
    padding-inline: 10px;
    letter-spacing: 5px;
}

.content-2 li {
    line-height: 2em;
    list-style: none;
}

/* splits content into 2 */
footer {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;

}

/* heading in footer */
#social {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
}

/* picture and social links */
.contact-box-1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 60px;
}

.contact-box-1 li {
    display: inline;

}

.contact-box-1 a:visited {
    color: #4CB61A;
}

.contact-box-1 i:hover {
    animation-name: icons;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transform: scale(50%);

}

.contact-box-1 ul {
    list-style: none;
    position: relative;
    top: 115px;
    right: 170px
}

#img-contact {
    border-radius: 100%;
    width: 159px;
    height: 150px;
}

/* forms container */
.contact-box-2 {
    box-shadow: inset 2px -2px 2px 2px #4CB61A;
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 20px 0px 0px 20px;
}

.contact-box-2 h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin: 0px 0px 20px 0px;
    border-bottom: 1px solid #181717;
}

#name {
    width: 130px;
    border-radius: 10px;
    line-height: 2em;
    font-size: 1em;
}

.contact-box-2 i {
    color: #4CB61A;
}

#email {
    width: 130px;
    border-radius: 10px;
    line-height: 2em;
    font-size: 1em;
}

#submit {
    border-radius: 10px;
}

#submit:hover {
    color: #4CB61A;
}

/* screen size dont go smaller */
@media screen and (max-width: 425px) {
    * {
    width: 425px;
    overflow: auto;
    }
}


/* size of image for tablet and mobile */
@media screen and (max-width:767px) {
    #img {
        width: 159px;
        height: 150px;
    }
}

/* font of body */
@media screen and (max-width:767px) {
    body {
        font-size: 1em;
    }
}

/* profile-info */
@media screen and (max-width:767px) {
    .info-2 {
        padding-bottom: 30px;
    }
}

/* when the layout change gives a border under skills */
@media screen and (max-width:767px) {
    .content-2 {
        border-bottom: 1px solid #4CB61A;
        padding-bottom: 30px;
    }
}

@media screen and (max-width:767px) {
    .content-2 label {
        padding: 0%;
    }

}

/* mobile phone */
@media screen and (max-width:600px) {
    body h1 {
        color: orange;
    }
}